body, html {
  height: 100vh;
  width: 100vw;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 100%;
}

.container {
  width: 97.22%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input {
  font-family: "Stratos LC Web";
  font-weight: 400;
  width: 100%;
  font-size: 24px;
  line-height: 120%;
  padding: 20px 49px;
  background: #F9F9F9;
  color: #000;
  border: 1px solid #E8E8E8;
  border-radius: 124px;
  outline: none;
}
.form__input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.form__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.form__input:last-child {
  margin: 0;
}
.form__input:hover {
  border: 1px solid #8D8D8D;
}
.form__input:invalid {
  background: #FFF2F0;
  border: 1px solid #FF5841;
}
.form__input:invalid + .form__label + .form__error {
  display: block;
}
.form__input:focus {
  padding: 27px 49px 14px 49px;
  border: 1px solid #8D8D8D;
}
.form__input:focus + .form__label {
  opacity: 1;
  display: block;
}
.form__input.disabled {
  background: #F9F9F9;
  border: 1px solid #E8E8E8;
}
.form__input.disabled::-moz-placeholder {
  color: #E8E8E8;
}
.form__input.disabled::-ms-input-placeholder {
  color: #E8E8E8;
}
.form__input.disabled::-webkit-input-placeholder {
  color: #E8E8E8;
}
.form__row {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  position: relative;
}
.form__error {
  display: none;
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #FF5841;
  padding-left: 49px;
  margin-top: 9px;
}
.form__label {
  display: block;
  opacity: 0;
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 12px;
  color: #8D8D8D;
  line-height: 120%;
  position: absolute;
  top: 11px;
  left: 51px;
}
.form__button {
  margin-top: 32px;
  display: block;
  text-align: center;
  font-family: "Stratos LC Web";
  font-weight: 400;
  color: #fff;
  padding: 28px;
  background: #FF5841;
  border: none;
  border-radius: 124px;
  font-size: 24px;
  line-height: 120%;
  transition: background 0.4s;
}
.form__button:hover {
  background: #000;
  cursor: pointer;
}
.form__button.disabled, .form__button:disabled {
  background: #E8E8E8;
}
.form__description {
  display: block;
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #8D8D8D;
  padding-left: 49px;
  margin-top: 9px;
}

.card {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}
.card:visited {
  color: #000;
}
.card:visited ._stroked {
  color: #000;
}
.card:hover .lk__header,
.card:hover .lk__label {
  color: #8D8D8D;
}
.card.disabled .lk__header,
.card.disabled .lk__label,
.card.disabled .lk__autor,
.card.disabled .lk__tags {
  color: #E8E8E8;
}
.card.disabled .lk__tag {
  background: #fff;
  border: 1px solid #E8E8E8;
}
.card.disabled ._in-progress::before,
.card.disabled ._record::before {
  background: #E8E8E8;
}
.card__column_first {
  padding-right: 64px;
  flex: 1 1 70%;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.card__img-container {
  position: relative;
  height: 100%;
  max-width: 307px;
}
.card__label {
  font-family: "CSTM Exprmntl 03";
  font-size: 20px;
  line-height: 120%;
  color: #000;
  margin-bottom: 24px;
}
.card__header {
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 40px;
  color: #000;
  line-height: 120%;
  margin-bottom: 32px;
  text-decoration: none;
}
.card__autor {
  display: flex;
  align-items: center;
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  margin-bottom: 24px;
}
.card__autor-container {
  position: relative;
  padding-top: 44px;
  width: 44px;
  margin-right: 12px;
}
.card__autor-avatar {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__tags {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.card__tag {
  font-family: "Stratos LC Web";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  border-radius: 32px;
  padding: 10px 16px;
  position: relative;
  margin: 6px;
}
.card__tag::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
}
.card__tag._stroked {
  border: 1px solid #000;
}
.card__tag._in-progress {
  padding-left: 33px;
  background: #DCFFEC;
  border: 1px solid #23DE77;
}
.card__tag._in-progress::before {
  border-radius: 50%;
  background: #23DE77;
}
.card__tag._record {
  padding-left: 35px;
  background: #DAEDFF;
  border: 1px solid #7ABFFF;
}
.card__tag._record::before {
  border-radius: 2px;
  background: #7ABFFF;
}
.card__tag._filled {
  background: #fff;
}
.card__tag._question {
  display: flex;
  align-items: center;
  padding-right: 16px;
  background: #8D8D8D;
  color: #fff;
}
.card__tag._question span {
  position: relative;
  margin-left: auto;
  margin-left: 8px;
}
.card__tag._question span::before {
  content: "";
  display: block;
  left: auto;
  right: 16px;
  width: 20px;
  height: 20px;
  background: url("../../img/question.svg") center no-repeat;
}

._mob {
  display: none;
}

@media screen and (max-width: 999px) and (min-width: 319px) {
  .form {
    max-width: 100%;
  }
  .container {
    width: 94.79%;
  }
  ._mob {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */