@import mixins

.page
    background: url('../../img/line.png')
    background-repeat: repeat-y
    background-size: 50% 
    background-position: 100% 0


.login
    padding-top: 122px
    padding-bottom: 60px
    &__content
        display: flex
        justify-content: space-between
    &__column
        display: flex
        flex-direction: column
        &_first
            flex: 1 1 50%
        &_second
            flex: 1 1 50%
            display: flex
            flex-direction: column
            align-items: flex-start
    &__img
        max-width: 80%
        transform: translate(-7%, -10%)

        &_768,
        &_360
            display: none            
    &__title
        +title
        margin-bottom: 48px
    &__text
        +stratos_reg
        font-size: 24px
        line-height: 120% 
        margin: -24px 0 48px 0
    &__form
        margin-bottom: 32px
    &__link
        +link


@media screen and (max-width: 1470px)

    .login
        &__form
            max-width: 490px
            
@media screen and (max-width: 1050px)

    .login
        &__img
            transform: translate(0%, 0%)


@media screen and (max-width: 1023px)

       
    .page
        background: url('../../img/login-img-mob.png') center no-repeat
        background-size: 100% 85vw
        background-position: 0% 83%
        
    .login
        &__form
            margin-bottom: 24px
        &__content
            flex-direction: column
        &__column
            &_first
                margin-bottom: 32px
            &_second
                align-items: normal
        &__img
            transform: translate(0,0)
            display: block
            opacity: 0
            z-index: -1
        &__title
            font-size: 46px
            margin-bottom: 32px
        &__text
            font-size: 24px
            margin: -16px 0 32px 0
        &__tab
            font-size: 14px
        &__form
            max-width: 100%
        &__column
            &_first
                margin: 0

@media screen and ( max-width:  371px)

    .login
        padding-bottom: 100px    

@media screen and ( max-width: 350px )

    .login
        &__title
            word-wrap: anywhere
        &__column
            
    
    