@import mixins

.page
    background: url('../../img/login-img.png') center no-repeat
    background-size: auto 100%
    background-position: 100% 0


.login
    &__content
        display: flex
        justify-content: space-between
        min-height: 100%
    &__column
        display: flex
        flex-direction: column
        &_first
            padding-top: 122px
        &_second
            position: relative
            flex: 0 0 48.54%
    &__img
        &_360
            display: none
        &_768
            display: none
            
    &__title
        +title
        margin-bottom: 48px
    &__text
        +stratos_reg
        font-size: 24px
        line-height: 120% 
        margin: -24px 0 48px 0
    &__form
        margin-bottom: 32px
    &__link
        +link

    .container
        height: 100vh

@media screen and (max-width: 1470px)

    .login
        &__form
            max-width: 490px
        &__img
            

@media screen and (min-width: 1000px) and (max-width: 1160px)

       
    .login
        &__content
            &::before
                background: url('../../img/login-img-1024.png') center no-repeat
                background-position: 100% 0
        

@media screen and (min-width: 361px) and (max-width: 999px)

       
    .login
        margin-bottom: 32px
        &__content
            flex-direction: column
            justify-content: flex-start
            &::before
                top: 100%
                background: url('../../img/login-img-768.png') no-repeat
                // background-position: 100% 0%

        &__link
            margin-bottom: 48px
        &__title
            font-size: 46px
        &__img
            width: 100%
            opacity: 0
            &_360
                display: inline-block
            &_768
                display: none
        .container
            height: 100%
        &__column

@media screen and (min-width: 300px) and (max-width: 360px)

       
    .login
        margin-bottom: 32px
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            background: url('../../img/login-img-360.png') no-repeat
            background-position: 100% 100%
            height: 100%
            width: 100%
        &__content
            flex-direction: column
            justify-content: flex-start
            &::before
                display: none
        &__column
            &_second
                position: relative
                
        &__link
            margin-bottom: 48px
        &__title
            font-size: 46px
        &__img
            width: 100%
            opacity: 0
            &_360
                display: inline-block
            &_768
                display: none
        .container
            height: 100%
