@import mixins

.page
    background: url('../../img/line.png')
    background-repeat: repeat-y
    background-size: 50% 
    background-position: 100% 0

.profile
    padding-top: 122px
    padding-bottom: 60px
    
    &__content
    &__title
        +title
        margin-bottom: 24px
    &__text
        +stratos_reg
        font-size: 40px
        line-height: 120%
        margin-bottom: 48px
    &__link
        +link
    &__tabs
        display: flex
        flex-wrap: wrap
        margin-bottom: 32px
    &__tab
        +tab
    &__column
        &_first
            flex: 1 1 50%
        &_second
            flex: 1 1 50%
            display: flex
            flex-direction: column
            align-items: flex-end
    &__body
        display: flex
    &__img
        max-width: 80%
        &_768,
        &_360
            display: none
    



@media screen and (max-width: 1010px)

    .page
        background: url('../../img/profile-img-768.png') center no-repeat
        background-size: 100% 78vw
        background-position: 0% 90%

    .profile
        &__body
            flex-direction: column
        &__column
            &_first
                margin-bottom: 32px
            &_second
                align-items: normal
        &__img
            display: block
            opacity: 0
            z-index: -1
                
@media screen and ( max-width:  769px)


    .profile
        &__title
            font-size: 46px
            margin-bottom: 32px
        &__text
            font-size: 24px
            margin-bottom: 32px
        &__tab
            font-size: 14px
    
  
    
    



