@import mixins

.schedule
    &__title
        +title
    &__content
        padding-top: 122px
    &__tabs
        display: flex
        margin-bottom: 32px
    &__tab
        +tab
    &__card
        background: #EBEBEB
        padding: 48px 32px
        border-radius: 5px
        cursor: default
    &__column
        display: flex
        flex-direction: column            
    &__header
        font-size: 54px
        flex: 1 1 100%
    &__img
        &-container
            height: auto
    &__autor
        display: flex
        margin: 60px 0 0 0 
        justify-content: flex-start
    &__buttons
        display: flex
        margin: 32px -1px 48px -1px
    &__button
        +stroked_button
        flex: 1 1 auto
        margin: 0 1px

        

.program
    margin-top: 16px
    margin-bottom: 26px
    &__date
        +stratos_reg
        font-size: 24px
        line-height: 120%
    &__card
        padding: 32px 0
        cursor: default
    &__line
        border: 1px solid #000
    &__button
        cursor: pointer
        &._main
            +main_button
        &._secondary
            +secondary_button
    &__tags
        margin-bottom: 16px